<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />
        </staticContent>
        <httpErrors errorMode="Custom" defaultResponseMode="File">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/commons/error404.cfm" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
