/*CHECKOIUT PANE*/
.checkout_section {
    min-height: 350px;
}
#checkout_pane{
    width: 20%;
    float:right;
    /*background-color: #e8ffe8;*/
    padding: 20px;
    display: flex;
}


#items_pane{
    float: left;
    width: 78%;
    background-color: #f1f1f1;
    min-height: 315px;
}
/*sub items_pane element*/
.item{
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*right to items_pane*/


/*   ORDERS SUMMARY SECTION   */

.header_text h2 {
    margin-top: 10px;
    font-family: monospace;
    color: #8c8c8c;
    font-weight: bold;
}
.section .subsection{
    display:flex;
    flex-flow: column nowrap;
    margin: 10px;
}
.summary_subsection_header{
    display:flex;
    flex-flow: row nowrap;
}
.summary_subsection_header > * {
    text-align: center;
    border: 5px solid #f9f9f9;
}
.summary_subsection_header > :nth-child(1){
    width: 50%;
}
.summary_subsection_header > :nth-child(2){
    width: 20%;
}
.summary_subsection_header > :nth-child(3){
    width: 20%;
}
.summary_subsection_header > :nth-child(4){
    width: 10%;
}
.section .subsection .items {
    display: flex;
    flex-flow: column nowrap;
}
.section .no-items {
    height: 275px;
    display: block;
    text-align: center;
    background-color: white;
    background-image: url(http://www.shoppingbuzz.com/assets/images/cart/cart_empty.png), url(http://www.shoppingbuzz.com/assets/images/cart/cart_empty.jpg);
    background-size: 237px 209px, 390px 80px;
    background-repeat: no-repeat;
    background-position: 67% 32%, 34% 31%;
    /*margin: 0 1px;*/
}
/*.items > .item*/

.item{
        height: 180px;
        display: flex;
        flex-flow: row nowrap;
        border-bottom: 1px solid lightgrey;
}
.item > * {
    padding: 10px;
    margin: 1px;
    /*border: 1px solid blue;*/
    /*background-color: white;*/
}


.item > :nth-child(1){
    width: 50%;
}


.item > :nth-child(2){
    width: 20%;
}
.item > :nth-child(2) > span {
    display: block;
    position: relative;
    top: 34%;
    margin: auto;
}
.item > :nth-child(2) > span > input {
    width: 70%;
}


.item > :nth-child(3){
    width: 20%;
}
.item > :nth-child(3) > div{
    position: relative;
    top: 36%;
    text-align: center;
    color: #FF9800;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

.item > :nth-child(4){
    width: 9%;
    position: relative;
}
.item > :nth-child(4) > span{
    position: absolute;
    top: 34%;
    left: 25%;
    /*border: 1px solid black;*/
    padding: 15%;
    cursor: pointer;
}
.cart_product_image{
    float: left;
    width: 170px;
    height: 130px;
    overflow: hidden;
}
.cart_thumbnail{
    width: inherit;
    /*height: inherit;*/
    /*width: 170px;*/
    /*height: 130px;*/
}


/*abstract*/
.checkoutPrice{
    font-size: 30px;
    color: #4CAF50;
}
.inputItemsQuantity{
    border: 0px;
    border-bottom: 1px solid #CDDC39;
    /*text-align: center;*/
    font-weight: bold;
    color: #505050;
}
.inputItemsQuantity:focus{
    outline: 0;
}
.inputItemsQuantityleft{
    padding: 3px;
    border-bottom: 1px solid #CDDC39;
}
/*-----------------------------*/





.btn{
    border-radius: 2px;
}
