
/*ADDRESS MODAL FOR DISPLAYING ADDRESSES & TO BE DELIVERED*/

#newaddress-form {
    width: 400px;
    margin: auto;
}
#newaddress-form input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.modal-header{
    background-color: #ececec;
}
#address_modal .modal-content {
    width: 434px;
}




/*ORDER SUMMARY SECTION ------------------------ */

#order_summary .subsection{
    display:flex;
    flex-flow: column nowrap;
}
.summary_subsection_header{
    display:flex;
    flex-flow: row nowrap;
}
.summary_subsection_header > * {
    text-align: center;
    border: 1px solid lightgrey;
}
.summary_subsection_header > :nth-child(1){
    width: 50%;
}
.summary_subsection_header > :nth-child(2){
    width: 20%;
}
.summary_subsection_header > :nth-child(3){
    width: 20%;
}
.summary_subsection_header > :nth-child(4){
    width: 10%;
}
#order_summary .subsection .items {
    display: flex;
    flex-flow: column nowrap;
}

/*.items > .item*/
.item{
        height: 180px;
        display: flex;
        flex-flow: row nowrap;
        border-bottom: 1px solid lightgrey;
}
.item > * {
    padding: 10px;
    margin: 1px;
    /*border: 1px solid blue;*/
    /*background-color: white;*/
}


.item > :nth-child(1){
    width: 50%;
}


.item > :nth-child(2){
    width: 20%;
}
.item > :nth-child(2) > span {
    display: block;
    position: relative;
    top: 34%;
    margin: auto;
}
.item > :nth-child(2) > span > input {
    width: 70%;
}


.item > :nth-child(3){
    width: 20%;
}
.item > :nth-child(3) > div{
    position: relative;
    top: 36%;
    text-align: center;
    color: #FF9800;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

.item > :nth-child(4){
    width: 9%;
    position: relative;
}
.item > :nth-child(4) > span{
    position: absolute;
    top: 34%;
    left: 25%;
    /*border: 1px solid black;*/
    padding: 15%;
    cursor: pointer;
}
.cart_product_image{
    float: left;
    width: 170px;
    height: 130px;
    overflow: hidden;
}
.cart_thumbnail{
    width: inherit;
    /*height: inherit;*/
    /*width: 170px;*/
    /*height: 130px;*/
}
.checkoutPrice{
    font-size: 20px;
    font-weight: bold;
    color: #03A9F4;
}
.inputItemsQuantity{
    border: 0px;
    border-bottom: 1px solid #CDDC39;
    /*text-align: center;*/
    font-weight: bold;
    color: #505050;
}
.inputItemsQuantity:focus{
    outline: 0;
}
.inputItemsQuantityleft{
    padding: 3px;
    border-bottom: 1px solid #CDDC39;
}
/*.item{
    background-color: green;
    margin: 2px;
}*/
/*-----------------------------*/



/*CHECKOUT SECTION*/
.checkout_section{
    min-height: 480px;
}
.section{

}
.nav-pills > li > a {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.nav-pills > li.active > a {
    background-color: #b9b9b9;
}
.nav-pills > li.active > a:focus{
    background-color: #b9b9b9;
}

/*--------------------------------------*/



/*ADDRESS SECTION*/
#address_section{
    display:flex;
    flex-flow: column nowrap;
    /*border-top:5px solid #c4d2d8;*/
}
.btn-review{
    background-color: #64b5f6;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    width: 160px;
    color: white;
}

.addresses{
    background-color: #fbfbfb;
    height: 230px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: auto;
    margin: 0 1px;
}
.address{
    border-radius: 2px;
    /* border: 1px solid lightgrey; */
    margin: 5px;
    padding: 8px;
    flex: 0 0 220px;
    /* height: 178px; */
    background-color: rgba(255,255,255,0.9);
    /* background-color: #E0E0E0; */
    box-shadow: -1px -1px 16px -6px;
}
.address h5 {
    font-size: 18px;
    color: #2196F3;
}
.address h5::first-letter {
    text-transform: capitalize;
}
.separator{
    display: block;
    border-bottom: 1px solid lightgrey;
    /*border: 1px solid black;*/
}
.new_address {
    background-color: #e1f5fe;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.new_address span{
    color: green;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.new_address:hover{
    color: white;
    background-color: #fdfdfd;
    outline:1px solid lightgrey;
}
/*--------------------------------------*/




/*              PAYMENT SECTION                 */
#payment_section{
    background-color: #fbfbfb;
}

#payment_section .subsection nav{    /*left*/
    height: 200px;
    background-color: white;
    height: 91%;
    box-shadow: 1px 1px 5px lightgrey;
}
#payment_section .subsection nav li a{
    padding: 16px;
}
#payment_section .subsection .tab-content{  /*right*/
    position: absolute;
    left: 21%;
    top: 10px;
    width: 80%;
}
.payment-subsection{
    padding: 20px;
    height: 254px;
    background-color: white;
    border-left: 1px solid lightgrey;
    box-shadow: 1px 0px 5px lightgrey;
}


/*-----------------------------------------*/

/*PAGE */
.section {
    border-radius: 5px;
    margin-bottom: 1px;

}

.subsection {
    margin-left: 1px;
    margin-right: 1px;
}

.section_header{
    padding: 5px;
    background-color: #d0effd;
    display: flex;
    justify-content: space-between;
}
.section_header .header_text{
    color: grey;
    font-size: 16px;
    font-family: "verdana";
    padding: 2px;
}
#address_modal .modal-header {
    background-color: black;
}
#address_modal .modal-title {
    font-family: monospace;
    font-size: 25px;
    color: white;
}
/*-----------------------------------*/


/*GLOBAL*/
.btn, .btn-info, .btn-success, .btn-primary, .btn-default, .btn-warning{
    border-radius: 3px;
    margin: 0px;
    border: 0px;
}

.label {
    border-radius: 7px;
    border: 0px;
    margin: 0px;
    padding: 8px;
    font-size: 12px;
}
