.container-fluid.page {
    min-height: 300px;
}

.image-view {
    float: left;
    width: 400px;

}
.image-container-lg {
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid lightgrey;
}

.image-container-lg > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#buttons-container {
    width: 100%;
}

div#buttons-container > * {
    display: inline-block;
    width: 49.50%;
}
div#buttons-container > * > * {
    width: 100%;
}

.product-details {
    float: left;
    width: 50%;
    border: 1px solid lightgrey;
    margin-left: 10px;
    padding: 10px;
    width: auto;
    height: 600px;
}

.pd-name {
    font-size: 25px;
    width: 600px;
    color: black;

}
.pd-rating{
    display: none;
}

.pd-price {
    font-size: 19px;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.product-specification{
    
}
.pd-price::before{
    content: "₹";
}






.btn-radius-1 {
    border-radius: 0px; !important
}

.
