.verdana{
    font-family: verdana;
}
.georgia{
    font-family: Georgia;
}
body{
    background-color: #eee;
}
a:hover{
    text-decoration: none;
}
.strikethrough {
    text-decoration: line-through;
}

/*page content*/

.filters{
    float:left;
    width: 21%;
    height: inherit;
}
.filter{
    background-color: white;
}
.filter-header{
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    font-weight: bold;
    color: teal;
    font-size: 15px;
    font-family: arial;
    background-color: white;
}

.products{
    float: right;
    width: 78%;
    display: flex;
    flex-direction: column;
}

.product, .no-product, .productadd{
    background-color: white;
    border-radius: 2px;
    min-height: 200px;
    margin-bottom: 5px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

label:first-child{
    width: 150px;
}

.no-product{
    transition: box-shadow 0.3s ease-in-out;
    padding: 20px;
    color: purple;
}
.no-product:hover{
    box-shadow: 1px 1px 30px grey;
}

.product:hover, .productadd:hover{
    box-shadow: 1px 1px 30px grey;
    cursor: pointer;
}

/*product left side content*/
/*containg only image*/
.product_image{
    /*padding: 10px;*/
    /*margin: 10px;*/
    width: 250px;
    height: 179px;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.product_image > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/*product middle div content*/
.product_content{
    margin-top: 10px;
    overflow: auto;
    margin-left: 10px;
    /*padding: 0 10px 10px 10px;*/
}
.product_name{
    font-family: Arial;
    font-size: 20px;
    color: black;
}

/*product right side content*/
.product_pricing{
    margin-left: 10%;
}

.product_price, .product_discounted_price {
    font-size: 25px;
    font-weight: bold;
    color: teal;
}
