/*modal styles for updaing the product while in admin mode*/
h3.modal-title {
    color: #F44336;
    font-family: monospace;
    font-size: 30px;
}
#product-update-form .form-group label:first-child {
    width: 40%;
    text-align: right;
    font-size: 18px;
    font-weight: 100;
    padding-right: 20px;
}
span#product-name {
    overflow: auto;
    color: #ac23ff;
    width: 245px;
    display: inline-block;
    font-size: 17px;
}










.container-fluid.page {
    min-height: 300px;
}

.image-view {
    float: left;
    width: 400px;

}
.image-container-lg {
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid lightgrey;
}

.image-container-lg > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#buttons-container {
    width: 100%;
}

div#buttons-container > * {
    display: inline-block;
    width: 49.50%;
}
div#buttons-container > * > * {
    width: 100%;
}

.product-details {
    float: left;
    width: 50%;
    border: 1px solid lightgrey;
    margin-left: 10px;
    /*padding: 10px;*/
    width: auto;
    min-height: 450px;
}

.pd-name {
    padding: 12px;
    font-size: 25px;
    width: 600px;
    color: black;
    font-family: verdana;

}
.pd-rating{
    display: none;
}

.pd-price {
    font-size: 25px;
    font-weight: bold;
    color: #03a9f4;
    padding: 20px;
}

.product-specification{
    border-radius: 4px;
    border-top:1px solid lightgrey;
    /*border-bottom:1px solid lightgrey;*/
}

.ps-header{
    background-color: #e8e8e8;
    font-size: 20px;
    /*font-weight: bold;*/
    padding: 5px;
}
.ps-content {
    border: 10px solid #fbfbfb;
    border-radius: 10px;

}
.ps-content > ul {
    list-style: none;
    padding: 20px;
    margin-left: 20px;
}
.ps-content > ul > li {
    padding: 5px;
    font-family: monospace;
    color: #607D8B;
    word-break: break-all;
}

.pd-price::before{
    content: "₹";
}

.buttons-admin{
    padding: 20px;
}

.btn-radius-1 {
    border-radius: 0px; !important
}
.btn-file {
    background-color: #B3E5FC;
}
